# Laravel
/vendor/
/node_modules/
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/logs/*.log
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json

# IDE
/.fleet
/.idea
/.vscode

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log
yarn-error.log

# husky
.husky/
commitlint.config.js

#server
# Server specific
server/node_modules/
server/dist/
server/.env
server/logs/*.log
server/coverage/
